@use "./reset";
@use "./antd";
// @use 'nprogress/nprogress.css';

#app {
  height: 100%;
}

/* .doc-link {
  font-size: 14px;
  color: #1677ff;
  &:hover {
    color: #69b1ff;
  }
  &:active {
    color: #0958d9;
  }
} */
