* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-break: break-all;
}

html,
body {
  height: 100%;
}

body {
  min-width: 1080px;
  font-family: 'PingFang SC', 'Microsoft YaHei', 'Hiragino Sans GB',
    'WenQuanYi Micro Hei', Arial, sans-serif;
  font-size: 14px;
  background: #f0f2f5;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    color: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

img,
input,
button {
  border: none;
  outline: none;
}

input,
button {
  font-size: 14px;
}
